################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iLearnApi/obj
/iLearnApi/.vs/iLearnApi/v16
