################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iLearnApi/obj
/iLearnApi/.vs/iLearnApi/v16
/iLearnApi/bin/Debug/netcoreapp2.1
/iLearnApi/.vs/iLearnApi/config
